.register-container {
    .content-right{
        border: 1px solid gray;
        border-radius: 8px;
    }

    .forgot-password{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}